@media screen and (max-resolution: 150dpi) and (max-width: 480px) {
    
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .presentation {
    width: 90%;
  }
}

@media (max-width: 480px) {
  header h1 {
    font-size: 1.5em;
  }

  .presentation h2 {
    font-size: 1.2em;
  }

  .presentation p {
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }

  nav ul li {
    padding: 10px 0;
    width: 100%;
  }
}

body {
    background-color: rgb(10, 10, 31);
    color: aliceblue;
}

.container {
  margin: 2rem auto;
  padding: 1rem 2rem;
  background-color: rgb(10, 10, 31);
  color: aliceblue;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(10, 10, 31);
    font-family: "Zen Dots";
    border-bottom: #2D00D1 2px solid;
    border-image: linear-gradient(to right,#007BFF, #3700FF,  #2D00D1, #9a00c1) 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

nav a:hover {
    color: #3700FF;
}

ul li {
  list-style: none;
}

/*body custom*/

p {
  font-family: 'Michroma';
}

h1 {
  font-family: 'Zen Dots';
}

h2 {
  font-family: 'Zen Dots';
}

.title h1 {
    margin-top: 44px;
}

.title {
  border: 2px solid;
  border-image: linear-gradient(to right,#007BFF, #3700FF,  #2D00D1, #9a00c1) 1;
  box-shadow: 3px 3px 5px #3700FF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

footer {
    border-top: 2px solid;
    border-image: linear-gradient(to right,#007BFF, #3700FF,  #2D00D1, #9a00c1) 1;
    font-family: "Michroma";
    font-size: 0.5em;
    text-align: center;
    margin-top: auto;
    padding: 10px;
}