span {
  font-weight: bolder;
}

.logo a {
    text-decoration: none;
    color: aliceblue;
}

body {
    background-color: rgb(10, 10, 31);
    color: aliceblue;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(10, 10, 31);
    font-family: "Zen Dots";
    border-bottom: #2D00D1 2px solid;
    border-image: linear-gradient(to right,#007BFF, #3700FF,  #2D00D1, #9a00c1) 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    gap: 50px;
}

nav a:hover {
    color: #3700FF;
}

ul li {
  list-style: none;
}

/*body custom*/

p {
  font-family: 'Michroma';
}

h1 {
  font-family: 'Zen Dots';
}

h2 {
  font-family: 'Zen Dots';
}

.main-container {
    margin: 30px;
    align-content: center;
    text-align: justify;
}

.main-container h1 {
    margin-top: 60px;
    text-align: center;
}

.tainy {

     margin: 100px 0 100px;
    border: aliceblue 3px solid;
    width: 10in;
    border-radius: 3%;
}

.p2,
.p3,
.p4,
.p5,
.p6 {

    margin-top: 50px;
}

.tainy-1 {

    margin: 100px 0 100px;
    border: aliceblue 3px solid;
    width: 10in;
    border-radius: 3%;
}

footer {
  border-top: 2px solid;
  border-image: linear-gradient(to right,#007BFF, #3700FF,  #2D00D1, #9a00c1) 1;
  font-family: "Michroma";
  font-size: 0.5em;
  text-align: center;
  margin-top: auto;
  padding: 10px;
}